body {
    margin: 0;
    background-color: #f0f2f5;
    font-family: sans-serif;
}

model-viewer {
    width: 100%;
    height: 90vh;
    background-color: #ffffff;
}

.instructions {
    text-align: center;
    padding: 20px;
    color: #333;
}